Security warning: NEVER publish actual API keys to GitHub! Put your actual secrets.toml file in .gitignore.
People absolutely scrape AWS API keys from public GitHub repos and rack up hundreds of thousands of dollars
in bills. If you do accidentally publish API keys to GitHub, change them IMMEDIATELY.

This is just an example of what you should put in your secrets.toml file in your LOCAL environment.
You will also need to copy your secrets.toml file into the streamlit secrets manager when you deploy to Community Cloud.

IMPORTANT: Put your real secrets.toml file inside a folder called .streamlit in your local environment.

# AWS credentials
ACCESS_KEY=get-this-from-aws-console
SECRET_KEY=get-this-from-aws-console